# Milestone two testing results
- Test- When the snake touches the wall the game ends
    - Result- When the snake touches the wall the window closes, works as intended
- Test- Movement and control continues to function as intended
    - Result- Movement now moves the length of the head every 100 ms, works as intended
    - Result- Movement is constant in the direction of the previous input, works as intended
    
